
body {
  background-color: #198c8c;
  font-family: 'Oswald', sans-serif;
}

.container {
  margin: auto;
  color: #fff;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 4em;

}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  background: #008080;
  padding: 15px;
  display: block;
  font-size: 3.5em;
  border: 1px solid #004040;
  border-radius: 5px;
}